<!DOCTYPE html>
<html>
<head></head>
<style>
code { font-family: Menlo, "Courier New", monospaced; font-size: 9pt; }
</style>
<body>
<p style="color: darkred">Tasks не смог отправить файл из-за ограничений почтовых сообщений.</p>
<p>Вы можете скачать его по прямой <a href="{{ url }}">ссылке</a>.</p>
<p>Технические подробности</p>
<pre><code>{{ tech }}</code></pre>
<p>
<p>
</body>
</html>