<!DOCTYPE html>
<html>
<head></head>
<style>
code { font-family: Menlo, "Courier New", monospaced; font-size: 9pt; }
</style>
<body>
<p style="color: darkred">Tasks cannot send email with this content</p>
<p>{{ t.title }} [<a href="{{ t.downloadUrl }}">{{ t.downloadUrl }}</a>]</p>
<p>Technical information</p>
<pre><code>{{ tech }}</code></pre>
<p>
<p>
</body>
</html>