<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Tasks{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
</head>
<body>

<div class="ui container">
    <h2 class="ui header">
        <i class="send outline icon"></i>
        All Tasks
    </h2>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>