<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Tasks{% block title %}{% endblock %}</title>
</head>
<body>

<div>
    {% block content %}
    {% endblock %}
</div>


</body>
</html>