<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Tasks</title>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="task-block">
    <h2><i class="far fa-paper-plane space-right"></i> All Tasks</h2>
</div>
<div class="task-block" th:each="doc : ${docs}">

    <span class="name" th:text="${doc.vars.name}"></span>
    &nbsp;&nbsp;
    <a href="#" th:data-oid="${doc.id}" th:onclick="run(this.getAttribute('data-oid'))"><i class="fas fa-running"></i> Trigger</a>
    &nbsp;
    <a href="#" th:data-oid="${doc.id}" th:onclick="remove(this.getAttribute('data-oid'))"><i class="far fa-trash-alt"></i> Remove</a>

    <br/>

    <span class="oid" th:text="'OID: ' + ${doc.id}"></span><br/>
    Job: <span th:text="(${doc.registered} ? '+ ' : '- ') + ${doc.job}"></span><br/>
    Schedules:<br/>
    <span th:each="sched : ${doc.schedules}" class="mono">
        <span th:text="${sched}"></span><br/>
    </span>
    Base param:<br/>
    <div th:if="${doc.params.url}">
        <a th:if="${doc.params.url.startsWith('http')}" th:href="${doc.params.url}" th:text="${doc.params.url}"></a>
        <span th:unless="${doc.params.url.startsWith('http')}" th:text="${doc.params.url}"></span>
        <br/>
    </div>

    <table>
        <tr>
            <th th:if="${doc.params.mailTo}">Mail to</th>
            <th th:if="${doc.params.telegram}">Notification to</th>
            <th>Vars</th>
        </tr>
        <tr>
            <td th:if="${doc.params.mailTo}">
                <span th:each="recip : ${doc.params.mailTo}" th:utext="${recip} + '<br/>'"></span>
            </td>
            <td th:if="${doc.params.telegram}">
                <span th:each="recip : ${doc.params.telegram}" th:utext="${recip} + '<br/>'"></span>
            </td>
            <td>
                <span th:if="${doc.vars.downloadDate}">
                    Notified: <span th:text="${#temporals.format(doc.vars.downloadDate, 'dd.MM.yyyy HH:mm:ss')}"></span><br/>
                </span>
                <span th:if="${doc.vars.created}">
                    Last update: <span th:text="${#temporals.format(doc.vars.created, 'dd.MM.yyyy HH:mm:ss')}"></span><br/>
                </span>
                Last check: <span th:text="${#temporals.format(doc.vars.checked, 'dd.MM.yyyy HH:mm:ss')}"></span><br/>
                <span th:if="${doc.vars.downloadUrl}">
                    Download param:
                    <a th:if="${doc.vars.downloadUrl.startsWith('http')}" th:href="${doc.vars.downloadUrl}" th:text="${doc.vars.downloadUrl}"></a>
                    <span th:unless="${doc.vars.downloadUrl.startsWith('http')}" th:text="${doc.vars.downloadUrl}"></span>
                </span>
            </td>
        </tr>
    </table>
</div>

</body>
<script>
    function run(oid) {
        if (window.confirm("run this job ?")) {
            axios.post('/api/run', {id: [oid]})
                .then(function (response) {
                    document.location.reload();
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
    }

    function remove(oid) {
        if (window.confirm("DELETE this job ?")) {
            axios.post('/api/delete', {id: [oid]})
                .then(function (response) {
                    document.location.reload();
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
    }
</script>
</html>