<!DOCTYPE html>
<html>
<head></head>
<body>
<h3>Torrent update notification</h3>
<p>{{ t.title }} [<a href="{{ t.torrentUrl }}">{{ t.torrentUrl }}</a>]</p>
--<br/>
TorrentUpdater Team
<br/>
<br/>
</body>
</html>