<!DOCTYPE html>
<html>
<head></head>
<body>
Torrent update notification
<p>{{ t.title }} [<a href="{{ t.torrentUrl }}">{{ t.torrentUrl }}</a>]</p>
--<br/>
TorrentUpdater Team
<br/>
<br/>
</body>
</html>