<!DOCTYPE html>
<html>
<head></head>
<body>
<p style="color: darkred">Tasks cannot send email with this content</p>
<p>{{ t.title }} [<a href="{{ t.torrentUrl }}">{{ t.torrentUrl }}</a>]</p>
<p>Technical inforamtion</p>
<pre><code>{{ tech }}</code></pre>
<p>
--<br/>
Tasks
<br/>
<br/>
</body>
</html>